@import "forest.css";
* {
   
    font-family: Maple mono NF;
    font-size: 18px;
}

window#waybar {
    /*background: rgb(2,0,36);
    background: linear-gradient(90deg, #eb6f92 0%, #f6c177 25%, #ebbcba 50%, #9ccfd8 75%, #c4a7e7 100%);*/
    /*background-color: rgba(0,0,0,0);*/
    background-color: @black;
    transition-property: background-color;
    transition-duration: .5s;
    /*border-bottom: 3px solid @sur-moon;*/
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.termite {
    background-color: #e5e9f0;
}


/* multiple elements config */
#custom-arch,
#custom-lang,
#custom-cava-internal,
#custom-updates,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 8px;
    margin-top: 4px;
    margin-bottom: 5px;
}


#scratchpad,
#mode {
    margin-top: 4px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;

}



/*left*/

#custom-arch {
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left: 6px;
    padding-left: 11px;
    margin-right: 4px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: @cyan;
}



#workspaces {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
    color: @white;

}
#workspaces button {
    background-color: transparent;
    color: @white;
    padding-left: 3px;
    padding-right: 3px;

}
#workspaces button:hover {
    background: @green;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: @black;
    text-shadow: none;
}
#workspaces button.focused {
    background-color: @red;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: @black;

}
#workspaces button.urgent {
    background-color: @red;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: @black;
}

#custom-lang {
    color: @green;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

}

#tray {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    color: @blue;
   
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
   
}



#scratchpad {
    background-color: transparent;
    color: @yellow;
    margin-left: 4px;
    margin-right: 4px;
}



#mode {
    background-color: transparent;
    color: @blue;
    margin-left: 4px;
    margin-right: 4px;
}

#keyboard-state > label.locked {
    color: @red;
    padding-left: 4px;
    padding-right: 4px;
}    


/*center*/

#window {
    background-color: rgba(0,0,0,0) ;
    color: @green;
    padding-left: 11px;
    padding-right:11px;
    font-size: 19px;


}

/*right*/
#pulseaudio {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-right:4px;
    color: @yellow;
}

#pulseaudio.muted {
    
    color: @red;
}

/*
#wireplumber {
 
    color: #000000;
}

#wireplumber.muted {
    
}
*/
#custom-updates {
    color: @blue;
    border-radius: 0.5rem 0 0 0.5rem;
    margin-left:4px;
    margin-right:4px;
}

#disk {
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right:4px;
    margin-left:4px;
    color: @red;
}



/*
#temperature {
    color: white;
   }
   
   #temperature.critical ~ #cpu {
       color: red;
   }
*/

#clock {
    color: @green;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-left:4px;
    margin-right: 4px;
}


#custom-pwrbtn {
    color: @red;
    margin-top: 4px;
    margin-bottom: 7px;
    padding-right:6px;
    margin-right:8px;
    margin-left:4px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

}





